<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }

    </style>
    
</head>
<body>
    <script src="~/Design/js/three.js"></script>
   
       
             @RenderBody()

</body>
</html>
