<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Design/js/three.js"></script>
    <script src="~/Design/js/dat.gui.min.js"></script>
    <script src="~/Design/js/OrbitControls.js"></script>
    <script src="~/Design/js/stats.min.js"></script>
    <script src="~/Design/js/threex.domevents.js"></script>
    <script src="~/Design/js/DragControls.js"></script>
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>

</head>
<body>
   

    @RenderBody()

</body>
</html>